#main{
    display:flex ;
    margin-top: 20px;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 40px;
}
#division1{
    width: 50%;
    background-color: #0059ff;
    color: white;
    text-align: center;
    align-content: center;


}
#division2{
    width: 50%;
    background-color:gainsboro ;
    padding:30px
}
legend{
    text-align: center;
    font-size: 30px;
    font-weight: bold;

}
input[ type=text],input[type=email],
input[type=tel],textarea
width:110  px

        button{
    background-color: aqua;
    border-radius:20px ;
    width: 100px;
    height: 40px;
    display: block;
    margin: auto;
        }
         body{
             background-color: rebeccapurple ;
         }