form{
    background-color:lightcoral;
    width: 40% ;
    padding:30px;
    margin: 0 auto;
    box-shadow: 12px 12px 12px lightgreen;
}
legend{
    font-weight: bolder;
    text-align: center ;
    text-shadow: 4px 4px 12px lightcoral;
    color: lightcoral;

}

input[type=text],input[type=email],
input[type=password],input[type=tel]{

    width: 100px;
    height: 40px ;
    border-radius: 15px;
    border: none;
    margin-top: 30px ;
    box-shadow: 10px 10px 10px lightpink;


}




button{
    background-color: lightgreen;
    color: aliceblue;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    border: none;
                                                                     }

}

                                                                     }